---
import Layout from "@/layouts/Layout.astro"
import type { ExpansionCardDatum } from "@/types/expansion-card-response"
import { Image } from "astro:assets"
import NotFoundImage from "@/assets/not-found-card.jpg"
import type { ExpansionsDatum } from "@/types/expansions"

type Props = {
  card: ExpansionCardDatum
  expansion: ExpansionsDatum
}

const { card } = Astro.props
---

<Layout>
  <a
    href={`/pokemon-card/${card.id}`}
    class="group"
  >
    <div class="mt-4">
      <Image
        src={card.images.small ?? NotFoundImage}
        alt={card.name}
        width={200}
        height={300}
        loading="lazy"
        class="h-auto w-full rounded-lg shadow-lg transition-transform duration-300 ease-in-out group-hover:scale-105"
      />
      <h2 class="text-2xl font-bold">{card.name}</h2>
    </div>
  </a>
</Layout>
