---
import type { GetStaticPaths } from "astro"
import { PokemonTCG } from "pokemon-tcg-sdk-typescript"
import Layout from "@/layouts/Layout.astro"
import PokemonGrid from "@/components/pokemon-tcg/PokemonGrid.astro"
import Pagination from "@/components/shared/Pagination.astro"
import TitleGradient from "@/components/ui/TitleGradient.astro"
import { Button } from "@/components/ui-shadcn/button"
import { Input } from "@/components/ui-shadcn/input"
import { SelectComponent } from "@/components/ui/SelectComponent"

export const getStaticPaths = (async ({ paginate }) => {
  const pokemonsAllSets = await PokemonTCG.getAllSets()

  return paginate(pokemonsAllSets, {
    pageSize: 20
  })
}) satisfies GetStaticPaths

const { page } = Astro.props

const selectContent = [
  { value: "0", label: "Ordenar por" },
  { value: "1", label: "Nombre A-Z" },
  { value: "2", label: "Nombre Z-A" },
  { value: "3", label: "Más recientes" },
  { value: "4", label: "Más antiguos" }
]
---

<Layout>
  <section class="container mx-auto mt-10 border-b border-gray-300 p-5 sm:p-0">
    <div class="p-40">
      <TitleGradient className="font-title mb-5 text-center text-7xl">
        Colecciones de Cartas Pokémon
      </TitleGradient>

      <p class="mx-auto max-w-2xl text-center text-2xl">
        Explora nuestra extensa colección de cartas Pokémon TCG de todas las
        expansiones.
      </p>
    </div>
  </section>

  <section class="container mx-auto mt-10 p-5 sm:p-0">
    <div class="flex items-center justify-center gap-1">
      <div class="w-full">
        <Input
          type="text"
          placeholder="Buscar expansión"
        />
      </div>

      <div>
        <Button variant="outline">Buscar</Button>
      </div>

      <div>
        <SelectComponent
          data={selectContent}
          client:load
        />
      </div>
    </div>
  </section>

  <section class="container mx-auto mt-10 p-5 sm:p-0">
    <div
      class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-6"
    >
      {page.data.map((expansion) => <PokemonGrid expansion={expansion} />)}
    </div>

    <Pagination
      page={page}
      className="mt-10 flex items-center justify-center gap-5"
    />
  </section>
</Layout>
