---
import Layout from "@/layouts/Layout.astro"
---

<Layout>
  <section class="mx-auto mt-10 max-w-screen-lg p-4">
    <h1 class="text-4xl font-extrabold">Welcome Pokedex</h1>

    <span
      >Para ver el catalogo de Expansiones, dale click <a href="/1">aquí</a>
    </span>
  </section>
</Layout>
