---
import type { GetStaticPaths } from "astro"
import { PokemonTCG } from "pokemon-tcg-sdk-typescript"

export const getStaticPaths = (async () => {
  const pokemons = await PokemonTCG.getAllCards()

  return pokemons.map((pokemon) => ({
    params: { pokemonCardId: pokemon.id },
    props: { pokemon: pokemon }
  }))
}) satisfies GetStaticPaths

const { pokemon } = Astro.props
---

<section class="mx-auto mt-10 max-w-screen-lg p-5 sm:p-0">
  <div class="p-5">
    <h1 class="text-3xl font-bold">{pokemon.name}</h1>
    <button
      onclick="history.back()"
      class="mb-5 cursor-pointer text-blue-500 hover:text-blue-600 hover:underline"
      >Ir atras</button
    >
  </div>
</section>
