---
import { ClientRouter } from "astro:transitions"
import "@/styles/global.css"
import NoiseEffect from "@/components/shared/NoiseEffect.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <ClientRouter />
    <title>Pokemon TCG</title>
  </head>

  <body class="font-quicksand text-black-ivory">
    <!-- <NoiseEffect /> -->

    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
