---
type Props = {
  to?: string
  via?: string
  from?: string
  className?: string
}

const { className, to = "", via = "", from = "" } = Astro.props
---

<span
  class:list={[
    "bg-gradient-to-r bg-clip-text text-transparent",
    to && via && from ? "" : "from-blue-500 via-green-500 to-yellow-500",
    to,
    via,
    from,
    className
  ]}
>
  <slot />
</span>
